/* 背景色和字体颜色 */
body {
  background: rgb(78,68,247);
  background: linear-gradient(173deg, rgba(78,68,247,1) 27%, rgba(207,112,255,1) 83%, rgba(183,203,240,1) 95%);
  color: #CDD6F4; /* 亮色字体 */
  font-family: 'Arial', sans-serif; /* 使用 Arial 字体 */
}

/* 标题颜色 */
h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

h1{
  font-size: 20px;
  font-weight: bold;
}

/* 链接颜色 */
a {
  color: #F28FAD; /* 亮粉色链接 */
  text-decoration: none; /* 无下划线 */
}

a:hover {
  color: #ABE9B3; /* 悬停时的颜色 */
  text-decoration: underline; /* 悬停时下划线 */
}

/* 按钮样式 */
button {
  background-color: #F2CDCD; /* 按钮背景色 */
  color: #1E1E2E; /* 按钮文字颜色 */
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background-color: #F28FAD; /* 按钮悬停背景色 */
}
